@charset "UTF-8";
nav .nav-top {
  position: sticky;
  top: 0;
  background-color: #2FA78A;
  color: white;
  padding: 20px;
  font-size: 25px;
  text-align: center;
}
nav .nav-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
nav .nav-bottom .logo img {
  width: 40%;
}
nav .nav-bottom .nav-right {
  width: 35%;
}
nav .nav-bottom .nav-right a {
  background-color: #2FA78A;
  border-radius: 15px;
  padding: 10px;
  justify-content: space-evenly;
  text-decoration: none;
}

.footer .footer-top {
  background-color: #2FA78A;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.footer .footer-top p {
  margin-left: 10px;
}
.footer .footer-top .social-img {
  margin-right: 10px;
}
.footer .footer-center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 10px;
}
.footer .footer-center .company-name {
  width: 20%;
}
.footer .footer-center .adress .adress-pp {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.footer .footer-center .adress p {
  margin-bottom: 10px;
}
.footer .footer-center .about {
  width: 20%;
}
.footer .footer-center .about p {
  margin-bottom: 10px;
}
.footer .footer-center .about a {
  text-decoration: none;
}
.footer .footer-center .contact {
  width: 20%;
}
.footer .footer-center .contact .email {
  width: 45%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.footer .footer-center .contact .phone {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.footer .footer-bottom {
  background-color: #2FA78A;
  text-align: center;
  padding: 5px;
}

.center {
  background-image: url(../img/bg.png);
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center .information-center {
  width: 90%;
  text-align: center;
  display: flex;
  color: white;
}
.center .information-center .text {
  padding-top: 10%;
  margin-bottom: 10px;
  font-size: 18px;
}
.center .information-center .text h1 {
  font-weight: bold;
}
.center .information-center .text p {
  margin-bottom: 20px;
}
.center .information-center .text button {
  color: black;
  padding: 10px;
  background-color: #2FA78A;
  font-size: 15px;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
}
.center .information-center .text .welcome {
  color: black;
  padding: 10px;
  background-color: #2FA78A;
  font-size: 25px;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
}
.center .information-center .buy-sell {
  margin-top: 25%;
  margin-left: 30%;
  width: 50%;
}
.center .information-center .buy-sell button {
  color: white;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #2FA78A;
  font-size: 25px;
  border: none;
  border-radius: 20px;
}

.our-product {
  width: 100%;
  height: 50vh;
  margin-top: 5%;
  margin-left: 5%;
}
.our-product .seach-hear {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.our-product .seach-hear p {
  font-size: 2.5rem;
}
.our-product .seach-hear .search {
  width: 80%;
  display: flex;
  background-color: #2FA78A;
  border: none;
  border-radius: 15px;
  padding: 4px;
}
.our-product .seach-hear .search input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: none;
  border-radius: 10px;
}
.our-product .seach-hear .search i {
  width: 5%;
  font-size: 30px;
  margin-top: 5px;
}
.our-product .card-product {
  width: 80%;
  display: flex;
}

.btn-buy {
  background-color: #2FA78A;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  margin-top: 20px;
  margin-left: 50%;
}

.btn-buy:hover {
  background-color: white;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.our-product {
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 35%;
  margin-left: 10px;
}
.our-product .seach-hear .button-add {
  margin-top: 10px;
}
.our-product .seach-hear .button-add button {
  padding: 10px;
  font-size: 20px;
  border: none;
  background-color: #2FA78A;
  border-radius: 10px;
}

.make-up {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
.make-up .item:hover {
  background-color: #d585ad;
  color: white;
  box-shadow: none;
}
.make-up .item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 10%;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  width: 20%;
  height: 50vh;
}
.make-up .item .img {
  display: flex;
  justify-content: center;
}
.make-up .item .img img {
  width: 60%;
  height: 20vh;
  margin-top: 15px;
}
.make-up .item .text {
  margin-left: 10px;
  margin-top: 15px;
}
.make-up .item .text .tilte {
  margin-left: 10px;
  margin-right: 10px;
}
.make-up .item .text .tilte p {
  font-size: 20px;
  color: rgb(44, 40, 40);
}
.make-up .item .edit-product {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  border-top: 10px solid black;
}
.make-up .item .edit-product a i {
  font-size: 40px;
}
.make-up .item .see-more {
  padding: 15px;
}
.make-up .item .see-more a button {
  background-color: #2FA78A;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.detail-product {
  display: flex;
}
.detail-product .visa-card {
  background-color: #2FA78A;
  align-items: flex-end;
  text-align: center;
  height: 65vh;
  width: 40%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.detail {
  margin-bottom: 10px;
  margin-top: 20px;
}
.detail img {
  width: 60%;
}
.detail .detail-more {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.detail .detail-more .text-detail {
  width: 100%;
  font-size: 30px;
}
.detail .detail-more .text-detail span {
  font-size: 20px;
  color: red;
}

* {
  box-sizing: border-box;
}

input {
  padding: 0.6em 0.25em 0;
  font-size: 1.5em;
  height: 2.1em;
  margin-bottom: 0.25em;
  border: none;
  border-bottom: 1px solid peachpuff;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 100;
  border-radius: 0.25em;
}

label span {
  font-size: 0.75em;
}

form {
  width: 100%;
  padding: 0.75em;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
form .visa-img {
  margin-top: -100px;
  margin-bottom: 20px;
}
form button {
  width: 100%;
  height: 2.75em;
  font-size: 1em;
  font-family: Helvetica, sans-serif;
  background-color: #e56a9f;
  border: none;
  color: #fff;
  border-radius: 15px;
  margin: 0.25em 0 0 0;
  padding: 5px;
}
form .save-data {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
}
form .save-data input {
  font-size: 10px;
}

form label {
  position: relative;
}

form label > span {
  position: absolute;
  top: 0.25em;
  left: 0.25em;
}

.cdnum span {
  color: #555;
  font-size: 0.8em;
}

.cvv {
  width: 25%;
}

label, input {
  width: 100%;
}

.exp {
  width: calc(75% - 0.75em);
}

.star-rating {
  display: flex;
  align-items: center;
  width: 150px;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: auto;
  position: relative;
}

/* hide the inputs */
.star-rating input {
  display: none;
}

/* set properties of all labels */
.star-rating > label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 25px;
  transition: 0.2s ease;
  color: orange;
}

/* give label a hover state */
.star-rating label:hover {
  color: #ff69b4;
  transition: 0.2s ease;
}

/* set shape of unselected label */
.star-rating label::before {
  content: "☆";
  position: absolute;
  top: 0px;
  line-height: 26px;
}

/* set full star shape for checked label and those that come after it */
.star-rating input:checked ~ label:before {
  content: "★";
}

@-moz-document url-prefix() {
  .star-rating input:checked ~ label:before {
    font-size: 36px;
    line-height: 21px;
  }
}
.add-product {
  background-color: #2FA78A;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  font-size: 30px;
}

#dialog {
  position: fixed;
  top: 0;
  left: 0;
  height: 70vh;
  width: 70%;
  background-color: #2FA78A;
  z-index: 10;
  margin-top: 5%;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border: none;
}

dialog {
  background-color: #2FA78A;
  width: 60%;
  height: 70%;
  border-radius: 10px;
  margin: auto;
}
dialog header {
  margin-left: 10px;
  font-size: 30px;
}
dialog section {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
dialog section input {
  padding: 10px;
}
dialog section label {
  font-size: 20px;
}

menu button {
  background-color: white;
  color: black;
  padding: 6px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}/*# sourceMappingURL=main.css.map */