
.footer{
    .footer-top{
        background-color:$main-color ;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        p{
            margin-left: 10px;
        }
        .social-img{
            margin-right: 10px;
        }
    }
    .footer-center{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 10px;
        .company-name{
            width: 20%;
        }
        .adress{
            .adress-pp{
                width: 70%;
                display: flex;
                justify-content: space-between;
            
            }
            p{
                margin-bottom: 10px;
            }
        }
        
        .about{
            width: 20%;
            p{
                margin-bottom: 10px;
            }
            a{
                text-decoration: none;
                
            }
        }
        .contact{
            width: 20%;
            
            .email{
                width: 45%;
                display: flex;
                justify-content: space-between;
                padding-top: 10px;
            }
            .phone{
                width: 40%;
                display: flex;
                justify-content: space-between;
            }
            
        }
    }
    .footer-bottom{
        background-color: $main-color;
        text-align: center;
        padding: 5px;
    }
}