@import "variable";
nav{
    .nav-top{
        background-color:$main-color;
        color: white;
        padding: 20px;
        font-size: 25px;
        text-align: center;

    }
    .nav-bottom{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .logo{
            img{
                width: 40%;
            }
        }
        .nav-right{
            width: 35%;
            a{
                background-color: $main-color;
                border-radius: 15px;
                padding: 10px;
                justify-content: space-evenly;
                text-decoration: none;
                
            }
        }
    }
}