@import"nav-bar";
@import "variable";
@import "footer";
@import "center";
@import "style-page-product/product";
@import "style-page-product/card";
@import "style-page-product/create-product";

*{
    margin: 0;
    padding: 0;
    
}
body{
    width: 100%;
}