
.add-product{
    background-color: $main-color;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    font-size: 30px;
    
}
#dialog{
    position: fixed;
    top: 0;
    left: 0;
    height: 70vh;
    width: 70%;
    background-color:$main-color;
    z-index: 10;
    margin-top: 5%;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border: none;
    
}
dialog{
    
    background-color:$main-color;
    width: 60%;
    height: 70%;
    border-radius: 10px;
    margin: auto;
    
    header{
        margin-left: 10px;
        font-size: 30px;
    }
    section{

        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;

        input{
            padding: 10px;
        }
        label{
            font-size: 20px;
        }
    }
}
menu{
    button{
        background-color:white;
        color: black;
        padding: 6px;
        border-radius: 10px;
        border: none;
        margin: 10px;
        font-size: 20px;  
    }
}